@model CincyGeeksWebsite.Models.Forum.ViewTopicModel

@{
    ViewBag.Title = Model.CurrentTopic.TopicTitle;
}

<p>
    @Html.ActionLink(String.Format("<< Back to {0}", Model.ParentForum.ForumTitle), "ViewForum", new { forumId = Model.ParentForum.ForumId })
</p>
<h2>@Model.CurrentTopic.TopicTitle</h2>

@if (Model.MaxPages > 1)
{
    Html.RenderAction("Paginator", new CincyGeeksWebsite.Models.Shared.PaginatorRenderModel()
    {
        ActionName = "ViewTopic",
        ActionParamerType = new CincyGeeksWebsite.Models.Forum.ForumTopicRequestModel(),
        ConstantValues = new Dictionary<string, object>()
        {
            {"TopicId", Model.CurrentTopic.TopicId}
        },
        CurrentPage = Model.CurrentPage,
        MaxPage = Model.MaxPages,
        PageValueMember = "CurrentPage"
    });   
}

@if (Model.Threads.Count == 0)
{
    <h3>Nothing here! You should start a new thread.</h3>
}
@foreach(CincyGeeksWebsite.Models.Forum.ForumThreadModel thread in Model.Threads)
{
    <div style="border:1px solid black; margin:5px;">
        <p>
        @if (thread.IsSticky)
        {
            <b>[STICKY]</b>
        }
        @thread.ThreadTitle
        <small>@Html.ActionLink("View", "ViewThread", new CincyGeeksWebsite.Models.Forum.ForumThreadRequestModel() { ThreadId = thread.ThreadId, CurrentPage = 0})</small>
        </p>
        <hr />
        <p> Created By: @thread.CreatedBy on @thread.CreatedOn </p>
            @if (!String.IsNullOrEmpty(thread.ModifiedOn))
            {
                <p>| Modified On: @thread.ModifiedOn</p>
            }
    </div>
}

@if (Model.MaxPages > 1)
{
    Html.RenderAction("Paginator", new CincyGeeksWebsite.Models.Shared.PaginatorRenderModel()
    {
        ActionName = "ViewTopic",
        ActionParamerType = new CincyGeeksWebsite.Models.Forum.ForumTopicRequestModel(),
        ConstantValues = new Dictionary<string, object>()
        {
            {"TopicId", Model.CurrentTopic.TopicId}
        },
        CurrentPage = Model.CurrentPage,
        MaxPage = Model.MaxPages,
        PageValueMember = "CurrentPage"
    });   
}

<div style="border:1px solid black;">
@using (@Html.BeginForm("ViewTopic", "Forum", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("topicId", Model.CurrentTopic.TopicId)
    <p>Thread Title:</p>
    @Html.TextBox("threadTitle")
    <p>Thread Conent:</p>
    @Html.TextArea("threadContent");
    <p>Is Sticky:</p>
    @Html.CheckBox("isSticky");
    <br />
    <input type="submit" value="Post Thread"/>
}
</div>

<p>
    @Html.ActionLink(String.Format("<< Back to {0}", Model.ParentForum.ForumTitle), "ViewForum", new { forumId = Model.ParentForum.ForumId })
</p>