@model CincyGeeksWebsite.Models.Account.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}

<section id="resetForm">
<h2>ResetPassword</h2>
@using (Html.BeginForm()){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reset Password Form</legend>
        <ol> 
            <li>
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username)
                @Html.ValidationMessageFor(m => m.Username)
            </li>
        </ol>
        <input type="submit" value="Request Reset" />
    </fieldset>
    
}
</section>